* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  background-color: rgb(27, 27, 27);
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.grid {
  display: grid;
  grid-gap: 16px;
  padding: 16px;
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 960px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.grid .col {
  background-color: pink;
  padding: 16px;
}

.col:hover{
  background-color:rgb(47, 197, 223);
  cursor: pointer;
  transform: scale3d(1.03);
  transition: all 1s ease-in-out;
}

h1{
  color: rgb(127, 2, 252);
  text-align: center;
  padding: 20px;
  margin: 5px;
}

h3{
  text-align: center;
  color: chocolate;
}
h3:hover{
  color:rgb(116, 102, 34);
  cursor: pointer;
}